.DS_Store
/wp-content/uploads
/wp-content/cache
.htaccess
prepros.cfg
/wp-content/w3tc-config
/wp-content/advanced-cache.php
node_modules
/mix-manifest.json
/mix.js.map
wp-config.php
wp-content/plugins/mailtrap-for-wp/
/ionic/node_modules/
/ionic/.sourcemaps/
/ionic/platforms/
/ionic/plugins/
/ionic/www/
/wp-content/plugins/social-authentication-rest-api/vendor